body {
	background-color: #4C4A43;
	/*background-repeat: no-repeat;
	background-size: 200px;
	background-position: 550px 150px;*/
}

.bimage {
	background: url(../assets/coverpic.png) no-repeat;
	background-repeat: no-repeat;
	background-size: 300px;
	background-position: 500px 150px;
	background-color: #4C4A43;

	/*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}


#playerWord {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	font-weight: bold;
	font-size: 50px;
	letter-spacing: 20px;
	margin-left: 99px;
	color: white;
	font-family: 'Love Ya Like A Sister', cursive;
}

#choosenLetters{
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 10px;
	margin-left: 98px;
	color: tomato;
	font-family: 'Love Ya Like A Sister', cursive;	
}


h1 {
	font-size: 75px;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
	margin-left: 513px;
	color: white;
}

button {
  
  margin: 0 auto;
  background: white;
  /*background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);*/
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border: 0;
  border-radius: 15px;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-size: 15px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  margin-left: 588px;
  margin-top: 196px;
}

button:hover {
  background: tomato;
  text-decoration: none;
}

  .inputArea {
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: left;
}

#letterInput {
    border:1px #6f5a2d solid;
    width:20pt;
    font-size:14pt;
    text-align:center;
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: center;
    color: white;
}

#guessLetter	{
	font-family: 'Pacifico', cursive;
	font-weight: bold;
	font-size: 35px;
	margin-left: 96px;
	color: white;
}

button {

}

.letterSpaces {
	display: inline-block;
	color: white;
}

#boy {
	position: absolute;
	right: 150px;
	top: 200px;
}

#msg {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	/*border: solid 5px black;*/
	width: 300px;
	margin-left: 308px;
	margin-top: -296px;
	text-align: 100px;
	padding: 20px;
	color: tomato;
	font-size: 150px;
	font-family: 'Pacifico', cursive;
}

.noose, .head, .torso, .pelvis, .arms, .legs, .dead {
	height: 400px; 
	width: 150px;
	background-size: cover;
	background-image: url("../assets/hangboy.png");
	background-repeat: no-repeat;
}
.noose {
	background-position: 0 0;
}
.head {	
	background-position: -150px 0;
}
.torso {	
	background-position: -300px 0;
}
.pelvis {	
	background-position: -450px 0;
}
.arms {	
	background-position: -600px 0;
}
.legs {	
	background-position: -750px 0;
}
.dead {	
	background-position: -900px 0;
}
